/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nero100: #000000; 
    --black-opacity: #00000075; 
    --deep-blue: #141922; 
    --dark-grey: #282828; 
    --text-white: #ffffff; 
    --player-grey: #C1C1C1;
    --text-grey: #717171; 
    --lime-green: #adff2f;
    --player-green: #1cdf63;
    --card-layover: rgba(0, 0, 0, 0.5);
}

/* MACRO CONTAINERS */

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.main-content{
    width: calc(100% - 200px);
    height: 100%;
    background-color: var(--deep-blue);
    position: fixed;
    left: 200px;
}

/* STANDARD STYLES */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

span{
    color: var(--text-grey);
}

p{
    color: var(--text-white);
}

a{
    color: var(--text-grey);
}

li:hover > *{
    color: var(--text-white);
}

/* GENERAL CLASSES */
.flex{
    display: flex;
}

.block{
    display: block;
}

.wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.start{
    justify-content: flex-start;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.text-center{
    text-align: center;
}

.circle{
    border-radius: 50%;
}

.wider:hover{
    transform: scale(1.1);
}
/* FONT CLASSES */
.pretty-heavy{
    font-weight: 700;
}

.heavy{
    font-weight: bold;
}

.smaller{
    font-size: 10px;
}

.small{
    font-size: 12px;
}

.medium-small{
    font-size: 14px;
}

.medium{
    font-size: 18px
}

.medium-large{
    font-size: 20px;
}

.large{
    font-size: 25px;
}

.larger{
    font-size: 35px;
}

/* NAVBAR */

.navbar{
    width: calc(100% - 200px);
    height: 95px;
    background-color: var(--black-opacity);
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: flex-end;
    padding: 0 2rem;
}

.upgrade-btn{
    border: 1px solid var(--text-white);
    padding: 10px 30px;
    border-radius: 30px;
    color: var(--text-white);
    transition: transform .5s ease-in-out;
    cursor: pointer;
}

/* SIDEBAR */

.sidebar{
    width: 200px;
    height: 100%;
    background-color: var(--nero100);
    min-height: 480px;
}

.sidebar .sidebar-top{
    height: calc(100% - 70px);
    flex-direction: column;
}

.sidebar .sidebar-bottom{
    height: 70px;
    width: 100%;
}

.sidebar .logo{
    width: 75%;
    height: 95px;
}

.sidebar .logo .small-logo{
    display: none;
    width: 30px;
}

.sidebar .logo a{
    width: 100%;
}

.sidebar .sidebar-top .main-areas img{
    width: 25px;
    vertical-align: text-bottom;
    margin-right: 10px;
}

.sidebar .sidebar-top .main-areas span:hover{
    color: var(--text-white);
}

.sidebar .sidebar-top .main-areas ul li{
    padding: 2px 0;
}

.sidebar .sidebar-top .main-areas ul li a{
    border-left: 2px solid var(--nero100);
    padding: 5px 1.2rem;
    width: 100%;
}

.sidebar .sidebar-top .main-areas ul li a.focus{
    border-left: 2px solid var(--lime-green);
}

.sidebar .sidebar-top .playlists{
    overflow: hidden;
    padding: 40px 1.2rem;
}

.sidebar .playlists .new-playlist{
    padding: 10px 0 0;
    cursor: pointer;
}

.sidebar .playlists .new-playlist:hover span{
    color: var(--text-white);
}

.sidebar .playlists .new-playlist:hover .add-new{
    background-color: var(--text-white);
}

.sidebar .playlists .new-playlist .add-new{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: var(--text-grey);
    color: var(--nero100);
    position: relative;
    margin-right: 5px;
}

.sidebar .playlists .new-playlist .add-new i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.sidebar .sidebar-top .playlists .playlists-list{
    height: 90%;
    overflow-y: auto;
}

.sidebar .playlists .playlists-list li{
    margin: 20px 0;
    cursor: default;
}

.sidebar .profile .install{
    cursor: default;
}

.sidebar .profile .install:hover{
    color: var(--text-white);
}

.sidebar .profile .install:hover svg{
    fill: var(--text-white);
}

.sidebar .profile .download-icon{
    padding-right: 10px;
}

.sidebar .profile .download-icon svg{
    width: 15px;
    height: 15px;
    fill: var(--text-grey);
}

.sidebar .profile .profile-pic{
    height: 25px;
    width: 25px;
    background-color: var(--text-grey);
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
}

.sidebar .profile > *{
    padding: 6px 0;
}

.sidebar .profile .profile-span{
    line-height: 25px;
    border-top: 1px solid var(--text-grey);
    color: var(--text-white)
}

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

main .main-content .inner-content{
    overflow-y: auto;
    height: 100%;
    padding: 110px 2rem;
}

main .main-content .inner-content .navigate-pages{
    margin: 0 auto;
    width: 50%;
    min-height: 50px;
    margin-bottom: 20px;
}

main .main-content .inner-content .navigate-pages ul{
    min-height: 70px;
}

main .main-content .inner-content .navigate-pages ul li{
    height: 100%;
    margin-bottom: 5px;
}

main .main-content .inner-content .navigate-pages ul li a::after{
    content: "";
    display: block;
    margin: 5px auto;
    width: 50px;
    text-align: center;
    height: 2px;
    background-color: var(--text-grey);
    opacity: 0%;
    transition: margin .5s ease-in-out, opacity .2s ease-in-out;
}

main .main-content .inner-content .navigate-pages ul li:hover a::after{
    opacity: 100%;
    margin: 15px auto;
}

main .main-content .inner-content .navigate-pages ul .active::after{
    content: "";
    display: block;
    margin: 5px auto;
    width: 50px;
    text-align: center;
    height: 2px;
    background-color: var(--lime-green);
    opacity: 100%;
}

main .main-content .inner-content section{
    margin-bottom: 70px;
}

main .main-content .inner-content .cards{
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
}

main .main-content .inner-content .cards .card{
    width: calc(100% / 6);
    padding: 25px 5px ;
}

main .main-content .inner-content .cards .cover-img-wrapper{
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

main .main-content .inner-content .cards .card .cover-img-wrapper .cover-img.front-face{
    backface-visibility: hidden;
}

main .main-content .inner-content .cards .card .cover-img-wrapper .cover-img-backface{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background-color: var(--dark-grey);
    flex-direction: column;
    padding: 15px;
}

main .main-content .inner-content .cards .card .cover-img-wrapper .cover-img-backface i{
    color: var(--text-grey);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    background-color: var(--player-grey);
}

main .main-content .inner-content .cards .card .cover-img-wrapper .cover-img-backface i:hover{
    background-color: var(--player-green);
}

main .main-content .inner-content .cards .card:active .cover-img-wrapper{
    transform: rotateY(-180deg);
}

main .main-content .inner-content .cards .card .cover-img{
    width: 100%;
    height: 100%;
    position: relative;
}

main .main-content .inner-content .cards .card .cover-img img{
    width: 100%;
    height: 100%;
}

main .main-content .inner-content .cards .card .cover-img .cover-layover{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--card-layover);
    opacity: 0%;
}

main .main-content .inner-content .cards .card .cover-img i{
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    color: var(--text-white);
}

main .main-content .inner-content .cards .card .cover-img:hover .cover-layover, main .main-content .inner-content .cards .card .cover-img:hover i{
    opacity: 100%;
}

main .main-content .inner-content .cards .card .cover-img i:hover{
    color: var(--player-green);
}

main .main-content .inner-content .cards .card .cover-title{
    color: var(--text-white);
    padding-top: 12px;
}

main .main-content .inner-content .cards .card .cover-artist{
    color: var(--text-grey);
    padding-top: 10px;
}

/* PLAYER BAR */
.player{
    width: 100%;
    height: 95px;
    background-color: var(--dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 2000;
    flex-direction: row;
}

.player .now-playing{
    width: 200px;
    height: 95px;
    padding: 0 .5rem;
    flex-direction: row;
}

.player .now-playing .playing-cover{
    height: 40px;
    width: 40px;
    background-color: aquamarine;
}

.player .now-playing .playing-cover img{
    width: 100%;
}

.player .now-playing .playing-title{
    margin-left: -20px;
    line-height: 12px;
}

.player .now-playing .playing-title:hover span{
    color: var(--text-white);
    text-decoration: underline;
}

.player .now-playing .playing-icons{
    color: var(--text-grey);
}

.player .now-playing .playing-icons i:hover{
    color: var(--text-white);
}

.player .handle-reproduction .reproduction-buttons{
    flex-direction: row;
    width: 190px;
    margin: 0 auto;
    color: var(--text-white);
}

.player .handle-reproduction .reproduction-buttons i:nth-of-type(3){
    transition: transform .5s ease-in-out, color .5s ease-in-out;
}

.player .handle-reproduction .reproduction-buttons i:nth-of-type(3):hover{
    color: var(--lime-green);
}

.player .handle-reproduction .play-time{
    padding-top: 10px;
    flex-direction: row;
    width: 33.33vw;
}

.player .handle-reproduction .play-time .track-length{
    width: 80%;
    background-color: var(--text-grey);
    position: relative;
    height: 8px;
    border-radius: 5px;
}

.player .handle-reproduction .play-time .track-length .track-progression{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: var(--player-grey);
    left: 0;
    border-radius: 5px;
}

.player .handle-reproduction .play-time .track-length .track-progression .progression-pointer{
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: var(--player-grey);
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0%;
}

.player .handle-reproduction .play-time .track-length:hover .track-progression, .player .handle-tracks .volume-bar:hover .volume-level{
    background-color: var(--player-green);
}

.player .handle-reproduction .play-time .track-length:hover .track-progression .progression-pointer, .player .handle-tracks .volume-bar:hover .volume-level .volume-pointer{
    opacity: 100%;
}

.player .handle-tracks{
    width: 200px;
    flex-direction: row;
    margin: 0 .5rem;
    color: var(--text-grey);
}

.player .handle-tracks i:hover{
    color: var(--text-white);
}

.player .handle-tracks .volume-bar{
    width: 55%;
}

.player .handle-tracks .volume-bar .volume-range{
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    background-color: var(--text-grey);
    border-radius: 5px;
    margin-top: -5px;
    overflow: hidden;
}

.player .handle-tracks .volume-bar .volume-range::-webkit-slider-runnable-track{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--text-grey);
    height: 5px;
    border-radius: 5px;
}

.player .handle-tracks .volume-bar .volume-range::-webkit-slider-thumb{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--text-white);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-top: -3px;
    box-shadow: -100vw 0 0 100vw var(--text-white);
}

.player .handle-tracks .volume-bar:hover .volume-range::-webkit-slider-thumb{
    box-shadow: -100vw 0 0 100vw var(--player-green);
}

/* RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE*/

@media screen and (max-width: 1200px){
    main .main-content .inner-content .cards .card{
        width: calc(100% / 4);
    }
}
@media screen and (max-width: 992px){
    main .main-content .inner-content .cards .card{
        width: calc(100% / 3);
    }
}
@media screen and (max-width: 768px){
    main .main-content .inner-content .cards .card{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 575px){
    main .main-content .inner-content .cards .card{
        width: 100%
    }
}

