/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nero100: #000000; 
    --black-opacity: #00000075; 
    --deep-blue: #141922; 
    --dark-grey: #282828; 
    --text-white: #ffffff; 
    --player-grey: #C1C1C1;
    --text-grey: #717171; 
    --lime-green: #adff2f;
    --player-green: #1cdf63;
}

/* MACRO CONTAINERS */

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.main-content{
    width: calc(100% - 200px);
    height: 100%;
    background-color: goldenrod;
    position: fixed;
    left: 200px;
}

/* STANDARD STYLES */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

span{
    color: var(--text-grey);
}

p{
    color: var(--text-white);
}
/* GENERAL CLASSES */
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.start{
    justify-content: flex-start;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.circle{
    border-radius: 50%;
}
/* FONT CLASSES */
.pretty-heavy{
    font-weight: 700;
}

.heavy{
    font-weight: bold;
}

.smaller{
    font-size: 10px;
}

.small{
    font-size: 12px;
}

.medium-small{
    font-size: 14px;
}

.medium{
    font-size: 18px
}

.medium-large{
    font-size: 20px;
}

.large{
    font-size: 25px;
}

.larger{
    font-size: 35px;
}

/* NAVBAR */

.navbar{
    width: calc(100% - 200px);
    height: 95px;
    background-color: var(--black-opacity);
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: flex-end;
    padding: 0 2rem;
}

.upgrade-btn{
    border: 1px solid var(--text-white);
    padding: 10px 30px;
    border-radius: 30px;
    color: var(--text-white);
}

/* SIDEBAR */

.sidebar{
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: lightgreen;
}

.sidebar .sidebar-wrapper{
    padding: 0 1.2rem;
}

.sidebar .logo{
    width: 75%;
    height: 95px;
}

.sidebar .logo a{
    width: 100%;
}

.sidebar .main-areas ul li{
    padding-bottom: 20px;
}

.sidebar .main-areas ul a{
    color: var(--text-grey);
}

.sidebar .main-areas i{
    padding-right: 5px;
    font-size: 20px;
}

.sidebar .main-areas ul li:last-of-type i{
    transform: scaleX(-1);
    padding-right: 0;
    padding-left: 5px;
}

.sidebar .playlists .new-playlist{
    padding: 10px 0 20px;
}

.sidebar .playlists .new-playlist .add-new{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: var(--text-grey);
    color: var(--nero100);
    position: relative;
    margin-right: 5px;
}

.sidebar .playlists .new-playlist .add-new i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.sidebar .playlists .playlists-list ul{
    height: 220px;
    flex-direction: column;
    cursor: default;
}

.sidebar .profile{
    border: 1px solid red;
    position: fixed;
    bottom: 95px;
    width: calc(200px - 2.4rem);
    background-color: lightgreen;
}

.sidebar .profile .download-icon{
    padding-right: 10px;
}

.sidebar .profile .download-icon svg{
    width: 15px;
    height: 15px;
}

.sidebar .profile .profile-pic{
    height: 25px;
    width: 25px;
    background-color: var(--text-grey);
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
}

.sidebar .profile > *{
    padding: 6px 0;
}

.sidebar .profile .profile-span{
    line-height: 25px;
    border-top: 1px solid var(--text-grey);
    color: var(--text-white)
}
/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

main .main-content .inner-content{
    overflow-y: auto;
    height: 100%;
    padding: 95px 2rem;
}

main .main-content .inner-content .navigate-pages{
    margin: 0 auto;
    width: 600px;
    height: 50px;
}

main .main-content .inner-content .navigate-pages ul{
    height: 100%;
}

main .main-content .inner-content .navigate-pages a{
    color: var(--text-grey);
}

main .main-content .inner-content section{
    padding-bottom: 70px;
}

main .main-content .inner-content .cards{
    width: 100%;
    border: 1px solid red;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 20px;
}

main .main-content .inner-content .cards .card{
    border: 1px solid red;
    width: calc((100vw - (200px + 4rem)) / 6);
    height: calc((100vw - (200px + 4rem)) / 6);
    padding: 5px 5px;
}

main .main-content .inner-content .cards .card .cover-img{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

main .main-content .inner-content .cards .card .cover-title{
    color: var(--text-white);
    padding-top: 12px;
}

main .main-content .inner-content .cards .card .cover-artist{
    color: var(--text-grey);
    padding-top: 10px;
}
/* PLAYER BAR */
.player{
    width: 100%;
    height: 95px;
    background-color: red;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    flex-direction: row;
}

.player .now-playing{
    width: 200px;
    height: 95px;
    padding: 0 .5rem;
    flex-direction: row;
}

.player .now-playing .playing-cover{
    height: 40px;
    width: 40px;
    background-color: aquamarine;
}

.player .now-playing .playing-title{
    margin-left: -20px;
    line-height: 12px;
}

.player .now-playing .playing-icons{
    color: var(--text-grey);
}

.player .handle-reproduction .reproduction-buttons{
    flex-direction: row;
    width: 190px;
    margin: 0 auto;
    color: var(--text-white);
}

.player .handle-reproduction .play-time{
    padding-top: 10px;
    flex-direction: row;
    width: 33.33vw;
}

.player .handle-reproduction .play-time .track-length{
    width: 80%;
    background-color: var(--text-grey);
    position: relative;
    height: 8px;
    border-radius: 5px;
}

.player .handle-reproduction .play-time .track-length .track-progression{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: var(--player-grey);
    left: 0;
    border-radius: 5px;
}

.player .handle-reproduction .play-time .track-length .track-progression .progression-pointer{
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: var(--player-grey);
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0%;
}

.player .handle-reproduction .play-time .track-length:hover .track-progression, .player .handle-tracks .volume-bar:hover .volume-level{
    background-color: var(--player-green);
}

.player .handle-reproduction .play-time .track-length:hover .track-progression .progression-pointer, .player .handle-tracks .volume-bar:hover .volume-level .volume-pointer{
    opacity: 100%;
}

.player .handle-tracks{
    width: 200px;
    flex-direction: row;
    margin: 0 .5rem;
    color: var(--text-grey);
}

.player .handle-tracks .volume-bar{
    position: relative;
    width: 55%;
    height: 8px;
    border-radius: 5px;
    background-color: var(--text-grey);
}

.player .handle-tracks .volume-bar .volume-level{
    position: relative;
    left: 0;
    height: 100%;
    width: 30%;
    border-radius: 5px;
    background-color: var(--player-grey);
}

.player .handle-tracks .volume-bar .volume-level .volume-pointer{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--player-grey);
    opacity: 0%;
}